.detail {
  margin-top: 2rem;
  color: #242325;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: inherit;
      font-size: 20px;
    }
  }

  &__order {
    h2 {
      text-transform: uppercase;
    }

    &_summary {
      h3, h4 {
        font-weight: 500;
        text-transform: uppercase;
      }

      .items {
        display: flex;
        justify-content: space-between;

        font-size: 18px;
        margin-bottom: 15px;
        border-bottom: 1px solid #87919e;

        span {
          margin-bottom: 10px;
        }
      }
    }

    &_infos {
      border-bottom: 1px solid #87919e;

      .infos {
        display: flex;
        justify-content: space-between;

        p {
          margin: 0 0 15px 0;
        }
      }
    }
  }

  &__follow {

    &_progress {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      .status {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #87919e;

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: #87919e;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          margin-bottom: 10px;

          img {
            height: 50px;
            width: 50px;
            filter: invert(100%);
          }
        }

        &__title {
          text-transform: uppercase;
          text-align: center;
        }

        .selected {
          color: #242325;
        }

        .selected_icon {
          background-color: #242325;
        }

      }

    }
  }

  &__shipping {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

// 87919e
// 242325