.detail {
  margin-top: 2rem;
  color: #242325;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: inherit;
      font-size: 20px;
    }
  }

  &__order {
    h2 {
      text-transform: uppercase;
    }

    &_summary {
      h3, h4 {
        font-weight: 500;
        text-transform: uppercase;
      }

      .items {
        display: flex;
        justify-content: space-between;

        font-size: 18px;
        margin-bottom: 15px;
        border-bottom: 1px solid #87919e;

        span {
          margin-bottom: 10px;
        }
      }
    }

    &_infos {
      border-bottom: 1px solid #87919e;

      .infos {
        display: flex;
        justify-content: space-between;

        p {
          margin: 0 0 15px 0;
        }
      }
    }
  }

  &__shipping {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
